
<body>

  
  <div class="row first">
    <div class="large-3 columns">
      <h1><img src='/serve_image/graffitilogofenrir.jpg'/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right" >
        <li><a href="loki">Loki</a></li>
        <li><a href="heatmap">Heatmaps</a></li>
        <li><a href="#">Alerts</a></li>
        <li><a href="automated_feedback">Automated Feedback System</a></li>
        <li><a href="scroll_tests">Scrolling Test</a></li>
      </ul>
    </div>
  </div>
  
   
  
  
  <div class="row">    
    
     
     
    <div class="large-9 push-3 columns">
      
      <h3>Fenrir Toolkit <small>Home</small></h3>
      
      <p>Fenrir is a collection of demonstration kits.</p>
 
      <p>It will eventually house demonstration for a Loki GUI and for the Heatmaps program, in addition to suggestion layouts for customer interaction with the alerts system.</p>
             
    </div>
    
    
     
     
    <div class="large-3 pull-9 columns">
      
      <ul class="side-nav">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
        <li><a href="#">Section 5</a></li>
        <li><a href="#">Section 6</a></li>
      </ul>
      
      <p><img src='/serve_image/graffiti.jpg'/></p>
        
    </div>
    
  </div>
    
  
   
  
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>And one by one back in the closet lays</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

   
</body>