# app/views/posts/_post.html.erb
      <tr>
        <td><%= edit_scroll_test_path(scroll_test.id)%></td>
        <td><%= link_to "#{scroll_test.author}", edit_scroll_test_path(scroll_test)%></td>
        <td><%= link_to "#{scroll_test.body}", edit_scroll_test_path(scroll_test.body)%></td>
        <td><%= link_to 'Destroy', scroll_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>